body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#wrapper{
    width: 100%;
    height: 100%;
}

header img{
    height: 60px;
    width: 60px;
}

header{
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content{
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

footer img{
    height: 20px;
    width: 22px;
}

footer{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

.contact-us {
    text-decoration: none;
    color: black;
}

#contact {
    margin-left: 2em;
}

#social-media{
    margin-right: 2em;
}

.copyright{
    font-size: 10px;
}
@media only screen and (min-width:576px) and ( max-width:768px) {

    header{
        height: 4em;
    }

    footer{
        height: 4em;
    }
    .copyright{
        font-size: 15px;
    }

  }
  @media only screen and (max-width:576px){
        header{
            height: 4em;
        }

        footer{
            height: 4em;
        }
        .copyright{
            font-size: 15px;
        }
  }