body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

#wrapper{
    height: 100%;
    width: 100%;
}

header img{
    height: 60px;
    width: 60px;
}

footer img{
    height: 20px;
    width: 22px;
}

header{
    background-color: rosybrown;
}

footer{
    background-color: rosybrown;
}