

#content img{

    max-height: 350px;
    width: 25em;
    margin-top: 1em;
}

.hotelDetail{
    margin: 1.5em;
    padding: 0.5em 0em 0em 12em;
    margin-top: 5.5em;
    display: flex ;
    flex-wrap:wrap;
    border: 1px solid black;
    max-height: 400px;
}

.form1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 10em;
    margin-top: -0.5em;
    border-left: 1px solid black;
    height: 22em;
    padding-top: 2em;
    padding-left: em;
} 

.label1{
    display: flex;
    grid-column-gap: 5em;
    grid-row-gap: 5em;
    margin: 0em 3em 1.2em 1em;
    
}

.label1 input{
    width: 18em;
    margin-left: 3em;
    
}
.adultField .nameField .totalField{
    padding-right: 2em;
}
.label1 label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.form1 button{
    margin-left: 12em;
    padding: 0.5em;
}

.info{
    margin: 2em;
}
.info h5{
    font-family: cursive;
}


