
#wrapper{
    margin-bottom: 5%;
}
#content img{

    max-height: 350px;
    width: 25em;
    margin-top: 1em;
    
}

#hotelDetail{
    display: flex;
   
    margin: 7% 2% 2% 2% ;
    padding: 2% 0;
    max-height: 400px;
    justify-content: space-between;
    border: 1px solid black;
  }
  
  #imageSlider{
    flex-grow: 3;
    display: flex;
    
    
    border-right: 1px solid black ;
    
  }
  #imageSlider .carousel-item {
    max-height: 350px;
    max-width: 1000px;
    padding: 1% 20% ;
  }
  
  #form{
    display: flex;
    height: 110%;
    width: 40%;
    padding: 0 2%;
    flex-direction: column;
    justify-content: space-around;
    
  }
  
  .inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .inputs> input{
    width: 60%;
  }
  #submitButton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  #submitButton input{
    padding: 2%;
  }
  
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
   
    background-image: none;
    
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: rosybrown;
  }

  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: rosybrown;
  }
    
  .info {
    margin-left: 4% ;
    margin-top: -5%;
  }
  .checked{
      color: orange;
  }
  @media only screen and (min-width:576px) and ( max-width:768px) {
    .hotelDetail{
      min-height: 380px;
      max-height: 380px;
      max-width: 650px;
      min-width: 650px;
      margin-top: 30px;
    }
    
    #form{
      display: flex;
      height: 100%;
      width: 40%;
      padding: 1% 1%;
      flex-direction: column;
      justify-content: space-between;
    }
    
  }

@media only screen and (max-width:576px){
    #hotelDetail{
      display: flex;
      flex-direction: column;
      max-width: 350px;
      min-width: 90%;
      min-height: 700px;
    }
    #imageSlider{
      border-right: hidden;
      border-bottom: 1px solid black;
     
    }
    #imageSlider .carousel-item >img {
      margin: 2% ;
      min-width: 300px;
      min-height: 270px;
      margin-top: 10%;
    }
    #form{
      display: flex;
     
      width: 80%;
      padding: 3% 2% 2% 6%;
      flex-direction: column;
      justify-content: space-evenly;
    }
   
  
  }


