/* #logo{
    margin-top: 20%;
    margin-bottom: 20%;
} */

#content img {
    height: 150px;
    width: 150px;
}

#searchBar {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-size: cover;
}

#searchBar input {
    margin: 12em 0em 0em 31em;
    width: 380px;
    padding: 10px;
    border: 1px transparent;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 25.8em;
    height: 150px;
    width: 150px;
    border-radius: 25%;
    color: #f1f1f1;
    display: none;
   
  }
.cards:hover .overlay {
    display: block;
  }
 .overlay:hover{
      visibility: visible;
  }
#cityCards img {
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}

#cityCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 2em 0;
}
#cityCards .cityName{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
#view {
    color: black;
    width: 100%;
    text-align: center;
}
