body a{
    text-decoration: none;
}
#viewLink{
    width: 100%;
    text-align: center;
    margin-top: 6em;
    
}

.hotelList img{
    height: 200px;
    width: 250px;
}

#listView{
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotelList{
    background-color: lightgrey;
    width: 33em;
    margin: 1.5em;
    display: flex;
    color: black;
    text-decoration: none;

}
.hotelList:hover{
    background-color: rosybrown;
    text-decoration: none;
}

.info{
    padding-left: 1.5em;
    text-decoration: none;
}
#hotel1{
    margin-left: 5em;
}

#hotel2{
    margin-right: 5em;
}

#hotel3{
    margin-left: 5em;
}

#content ul li{ 
    display: inline;
    margin-left: 2em;
    }

#content ul li a{
    text-decoration: none;
    color: black;
    
}
 
