#content{
    margin-top: 6%;
    
}

.hotelList img{
    height: 200px;
    width: 250px;
    
}

.hotelList{
    margin: 2%;
    background-color: rgb(132, 136, 139);
    width: 40%;
    display: inline-block;
    text-decoration: none;
    color: black;
}


.first{
    margin-left: 36%;
}

#content ul li{
    text-align: center; 
    display: inline;
    list-style-type: none;
    margin-left: 30px;
}
#content ul li a{
    text-decoration: none;
    color: black;
}

#mapView{
    display: none;
}


