.aboutHotel img{
    max-height: 300px;
    max-width: 270px;
}

.aboutHotel{
    background-color: rgb(132, 136, 139);
    width: 45em;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.about{
    padding-left: 1em;
}
#detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    margin-bottom: 8em;
    border: 1px solid black;
    border-radius: 5px;
    background-color:  rosybrown;
}


